.pfp-container {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float:right;
}
.pfp {
  display: inline;
  margin: 0 auto;
  width: auto;
}